<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

  <!-- java script -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- Leaflet JS (after the CSS!) -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""></script>

  <script src="/static/dist/leaflet.polylineDecorator.js"></script>
  <script type="text/javascript" src="/static/js/lmap.js"></script>

  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.1.min.js"
          crossorigin="anonymous"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.1.min.js"
          crossorigin="anonymous"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.1.min.js"
          crossorigin="anonymous"></script>

  <title>Plan-It Results!</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/bootstrap-template.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
    <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-left">
          <!-- don't forget to link pages back to home-->
          <li role="presentation"><a href="/">&larr; Back to Home</a></li>
        </ul>
      </nav>
    </div>
<br><br>


<div class="container">
  <!--here's the input container so you can query after output is served-->
  <div id="outmap" style=" position: relative;
                           top: 0px;
                           left: 00px;
                           bottom: 0;
                           right: 0;
                           width: 750px;
                           height: 500px;
                           overflow: auto;"></div>

    <script>

      function decodeHtml(html) {
          var txt = document.createElement("textarea");
          txt.innerHTML = html;
          return txt.value;
      }

       var outmap = L.map('outmap').setView([{{startlat}},{{startlng}}], 12);

         L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {
           attribution: 'Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, NPS, NRCAN, GeoBase, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), and the GIS User Community'
         }).addTo(outmap);

    //}

    /* Define arrays to hold data for plotting trails and routes */
    if (typeof trail_points === 'undefined' || trail_points === null){
      var trail_points = [];
    }

    /* Make a local container for the route polylines */
    if (typeof rlines === 'undefined' || rlines === null){
      var rlines = [];
      for (var i = 0; i < {{numroutes}}; i++){ // since we only get one at a time
        rlines.push(-1);
      }
    }

    if (typeof rline_layer === 'undefined' || rline_layer === null){
      var rline_layer = [];
      for (var i = 0; i < {{numroutes}}; i++){
        rline_layer.push(-1);
      }
    }

    if (typeof rline_dec === 'undefined' || rline_dec === null){
      var rline_dec = [];
      for (var i = 0; i < {{numroutes}}; i++){
        rline_dec.push(-1);
      }
    }


    /* Functions to make POST to get route tracks to display. stores
       locally as to NOT have to refresh */
    function displayRoute(trailnum)
    {

      function plotRoute(index){
        const line_colors = ['#1f78b4', '#33a02c', '#e31a1c','#ff7f00','#6a3d9a',
                           '#a6cee3', '#b2df8a', '#fb9a99', '#fdbf6f','#cab2d6'];

        rline_layer[index] = L.polyline(rlines[index]);
        rline_layer[index].setStyle( {'color' : line_colors[index],
                            'weight' : 4});
        rline_layer[index].addTo(outmap);

        rline_dec[index] = L.polylineDecorator(rline_layer[index], {
                                               patterns: [
                                                   {offset: 0, repeat: 50,
                                                    symbol: L.Symbol.arrowHead({pixelSize: 5,
                                                                                polygon: false,
                                                                                pathOptions: {color : '#000000',
                                                                                      stroke: true}})}
                                                         ]}).addTo(outmap);
      } // plotRoute


      if (rlines[trailnum-1] == -1){
        function getRoute(){
          return new Promise(function(resolve,reject) {
            $.ajax(
                {
                  type : 'POST',
                  url : "/button/display_route",
                  contentType: "application/json;charset=UTF-8",
                  dataType:'json',
                  data    : JSON.stringify( { "val" : trailnum } ),
                  success : function(data)
                  {
                    if (data !=null)
                    {
                       resolve(data);
                    }
                  },/*success : function() {}*/
                error : function(err){
                  reject(err);
                } /* error */
              });/*$.ajax*/
            }); /* promise */
          } /* getRoute() */


          getRoute().then(function(data){
            rlines[trailnum-1] = data;
            plotRoute(trailnum-1);
          }).catch(function(err) {
            console.log("ERROR IN GET ROUTE ", err, trailnum);
          })
      } else {
        // already got
        console.log("displayRoute: displaying already gotten route");
        plotRoute(trailnum-1);
      }



    } /* displayRoute */

    function clearMap() {

        for (i in rline_layer){

          if (rline_layer[i] != -1){
            try{
              outmap.removeLayer(rline_layer[i]);
              outmap.removeLayer(rline_dec[i]);

              // maybe just save / persist these to replot from line directly
              rline_layer[i] = -1;
              rline_dec[i]   = -1;
            } catch(e){
              console.log('problem removing rline layer',i, e);
            }
          }
        }

        for(i in outmap._layers) {
            if(outmap._layers[i]._path != undefined) {
                try {
                    outmap.removeLayer(outmap._layers[i]);
                }
                catch(e) {
                    console.log("problem with " + e + outmap._layers[i]);
                }
            }
        }


      var res = displayTrailsLMAP(trail_points, outmap)
      i///f('then' in res){
        //res.then( function(data){
          //trail_points = data;
        //})
      //}
      //console.log('TPSIZE2: ',trail_points.length);
    }

    //console.log('TPSIZE3: ',trail_points.length);
    var res = displayTrailsLMAP(trail_points, outmap);
    //if('then' in res){
    //  res.then( function(data){
  //      trail_points = data;
  //    })
    //}
    </script>


 </div>

<div id="profile_plot"></div>

 <script>
 fetch('/model_output/profile_plot')
     .then(function(response) { return response.json() })
     .then(function(item) { return Bokeh.embed.embed_item(item, "profile_plot") })
 </script>


   <div class="container">
     <div class="starter-template">
       <h2>Results:</h2>
       <p class="lead">Here are your routes! Click on the GPX links to download a GPX file for each route!</p>
     </div>
     <button id="clearmap" class="btn btn-s btn-default" onclick="clearMap()">Clear Map</button></br>
     <table class="table table-hover">
     <tr><th> Plot </br> Route</th><th>Distance ({{du}})</th><th>Elev. + ({{eu}})</th><th>Elev. - ({{eu}})</th>
         <th>Max Elev. ({{eu}})</th><th>Min Elev. ({{eu}})</th><th>Max Grade (%)</th><th>Min Grade (%)</th><th> % Repeated</th>
         <th>Download Link</th></tr>
     {% for trail in trailroutes %}
     <tr><td><button id="routebutton{{trail['route']}}" class="btn btn-xs btn-default" onclick="displayRoute({{trail['route']}})">{{ trail['route'] }}</button></td>

       <td>{{ trail['distance']}}</td><td> {{ trail['elevation_gain'] }}</td><td> {{ trail['elevation_loss'] }}</td>
              <td>{{trail['max_altitude']}}</td><td>{{trail['min_altitude']}}</td><td>{{trail['max_grade']}}</td><td>{{trail['min_grade']}}</td>
              <td>{{trail['repeated_percent']}}</td>
              <td><a href="/button/dowload_gpx?val={{trail['route']}}" download="PlanIt_route_{{trail['route']}}.xml.gpx">GPX</button></td>
             </tr>
     {% endfor %}
     </table>

    </div><!-- /.container -->
   <div class="container">


<!--
     <div class="starter-template">
       <h3>Another Result:</h3>
       <p class="lead">Now we've taken the input and called a function from your package.<br>The result is {{the_result}}</p>
     </div> -->

     <form action="/" method="GET">
       <div>
         <button type="submit"  class="btn btn-default btn-lg">Reset and Compute a New Route!</button>
       </div>
    </form>
  </br></br>


     <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
     <script src="static/js/bootstrap.min.js"></script>


    </div><!-- /.container -->


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
